body {
    text-align: center;
    background-color: bisque;


}

#i {
    width: 1200px;
    height: 850px;

}

#welcome {
    background-color: cadetblue;

    font-size: 50px;

    font-family: sans-serif;


}

#none {
    background-color: cadetblue;
    font-size: 50px;


}

#bio {
    font-size: 25px;
    background-color: cadetblue;
    font-family: monospace;


}

.menu {
    list-style: none;
    
}


}

.link {
    display: inline;
    float: left;
    font-size: 2500 px;
    color: floralwhite;
    padding-left: 9 px;
    padding-bottom: 5 px;
    padding-right: 9 px;
    padding-top: 5 px;
}
    






.link:hover {
    color: black;
}

html {
    scroll-behavior: smooth;

}

img {
    transition: transform.2s;



}

#owngame:hover {
    transform: scale(.8)
}

#ticktacktoe:hover {
    transform: scale(.8)
}

.qw {
    width: 25px;
    height: 10px;

}

h1 {


    font-size: 75px;
}
